{{ domains.registry }} {
    reverse_proxy registry:5000
}

{{ domains.frontend }} {
    reverse_proxy frontend:3000
}

{{ domains.api }} {
    reverse_proxy main-service:8080
}

{{ domains.files }} {
    handle {
        reverse_proxy minio:9000
    }
    handle_path /minio/ui/* {
        reverse_proxy minio:9001
    }
}
