POSTGRES_DB={{ postgres.db }}
POSTGRES_USER={{ postgres.user }}
POSTGRES_PASSWORD={{ postgres.password }}
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
CORS_ORIGINS='["http://localhost:5173", "https://events.lovepaw.ru"]'