POSTGRES_DB={{ postgres.db }}
POSTGRES_USER={{ postgres.user }}
POSTGRES_PASSWORD={{ postgres.password }}
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672
RABBITMQ_USER={{ rabbit.user }}
RABBITMQ_PASSWORD={{ rabbit.password }}
CORS_ORIGINS='["http://localhost:5173", "https://events.lovepaw.ru"]'
SECRET_KEY={{ main_service.secret }}
IMAP_SERVER={{ main_service.imap.server }}
IMAP_USERNAME={{ main_service.imap.username }}
IMAP_PASSWORD={{ main_service.imap.password }}