POSTGRES_DB={{ postgres.db }}
POSTGRES_USER={{ postgres.user }}
POSTGRES_PASSWORD={{ postgres.password }}
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672
RABBITMQ_USER={{ rabbit.user }}
RABBITMQ_PASSWORD={{ rabbit.password }}
CORS_ORIGINS='["http://localhost:5173", "https://events.lovepaw.ru"]'
SECRET_KEY={{ main_service.secret }}
IMAP_SERVER={{ main_service.imap.server }}
IMAP_USERNAME={{ main_service.imap.username }}
IMAP_PASSWORD={{ main_service.imap.password }}
SMTP_SERVER={{ main_service.smtp.server }}
SMTP_PORT={{ main_service.smtp.port }}
MINIO_ROOT_HOST=files.events.lovepaw.ru
MINIO_ROOT_PORT=443
MINIO_ROOT_USER={{ minio.user }}
MINIO_ROOT_PASSWORD={{ minio.password }}
TELEGRAM_BOT_TOKEN={{ main_service.tg_token }}
ADMIN_USERNAME={{ main_service.admin.username }}
ADMIN_PASSWORD={{ main_service.admin.password }}
BASE_ORGANIZATION=ПГНИУ
BASE_URL=https://api.events.lovepaw.ru