RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672
RABBITMQ_USER={{ rabbit.user }}
RABBITMQ_PASSWORD={{ rabbit.password }}
OPENAI_URL=https://openrouter.ai/api/v1
OPENAI_MODEL=deepseek/deepseek-chat-v3-0324:free
OPENAI_API_KEY={{ parser.openai_api_key }}